In [ ]:
name="rahul"
while True:
    print("please enter your name")
    name1=input()
    if(name1==name):
        break
print("thank you ",name)

In [2]:
while True:
    print("enter your name")
    name1=input()
    if name1!=name:
        continue
    print("enter your password")
    password=input()
    if(password=="chatterjee"):
        break
print("access granted")

enter your name
rahul
enter your password
chatterjee
access granted

In [11]:
for i in range(20,1,-1):
    print('i is now {}'.format(i))

i is now 20
i is now 19
i is now 18
i is now 17
i is now 16
i is now 15
i is now 14
i is now 13
i is now 12
i is now 11
i is now 10
i is now 9
i is now 8
i is now 7
i is now 6
i is now 5
i is now 4
i is now 3
i is now 2

In [35]:
num=('4,34,5445,2323,44')
for i in range(len(num)):
    print(num[i],end="")
type(i)

4,34,5445,2323,44

int

In [43]:
num=('4,34,5445,2323,44')
cleannumber=''
for i in range(len(num)):
    if num[i] in '0123456789':
        cleannumber+=num[i]
new=int(cleannumber)
print("your new number in int format is {}".format(new))
type (new)

your new number in int format is 4345445232344

int